body {
    background-color: blanchedalmond;
}

main {
    width: 50%;
    margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
}
        {
    .unreadable
            background-image: url('https://cdn.betterttv.net/emote/5af84b9e766af63db43bf6b9/3x')

}